body {
    background-color: #fffced;
    font-family: 'Indie Flower', cursive;
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    display: flex;
}

.notEaten, .eaten {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin: 10px;
}

.notEaten {
    flex: 0 0 50%;
    width:300px;
}

.eaten {
    flex: 1;
}

li {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.createBurger {
    position: relative;
}